/* Selectors for Gtk widgets: https://elementaryos.stackexchange.com/questions/15936/button-css-not-working-in-juno */

/* reset all styles */
/** {
    color: inherit;
    background-color: inherit;
}*/

/* button styles */
button {
	border-width: 1px;
	border-radius: 3px;
	background-color: #bfbfbf;
}
button.numbers {
	background-color: #e8e8e8;
	color: black;
}
button.button_result {
	color: navy;
}
/* button callbacks */
button.hover {
	border-color: gray;
	color: green;
}
button.active {
	border-color: red;
	color: orange;
}
/* entry styles */
entry {
	font-size: 24px;
	color: black;
}
/* textview styles */
textview {
	font-size: 18px;
}

/* UNUSED EXAMPLES
********************************
entry {
	border: none;
	border-radius: 0px;
}

textview text {
	background-color: black;
	color: white;
}
textview text selection {
	background-color: blue;
	color: yellow;
}*/
