button {/*.tlacidlo*/
	border-width: 1px;
	border-radius: 0px;
	border-color: green;
	color: red;
}

button.najete {
	border: none;
	color: green;
}

button.zmackle {
	border: none;
	color: black;
}

entry {
	border: none;
	border-radius: 0px;
}

textview text {
  background-color: black;
  color: white;
}

textview text selection {
  background-color: blue;
  color: yellow;
}
