/* https://elementaryos.stackexchange.com/questions/15936/button-css-not-working-in-juno */
button {
	border-width: 1px;
	border-radius: 3px;
	background-color: #bfbfbf;
}
button.numbers {
	background-color: #e8e8e8;
}
button.button_result {
	color: blue;
}
button.hover {
	border-color: gray;
	color: green;
}
button.active {
	border-color: red;
	color: orange;
}

entry {
	font-size: 24px;
}

textview {
	font-size: 18px;
}

/*
entry {
	border: none;
	border-radius: 0px;
}

textview text {
	background-color: black;
	color: white;
}
textview text selection {
	background-color: blue;
	color: yellow;
}
*/
